<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
  <!-- required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Blog</title>

  <!-- Bootstrap CSS local file -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>
 <!--NavBar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Django Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">About</a>
        </li>
        <!--DropDown-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Categories</a>
            <a class="dropdown-item" href="#">Achieves</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">GitHub Profile</a>
          </div>
        </li>
       
      </ul>
      <!--Search Form-->
      <form class="form-inline my-2 my-lg-0" action="{% url 'Search' %}" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  

      <!-- optional JavaScript - comes at BOTTOM of page -->
      <!-- jQuery FIRST, then Bootstrap JS -->
      <!-- bootstrap.bundle.min.js includes popper.js -->
      <!-- The ORDER is VERY important! -->
      <script src="{% static 'js/jquery.slim.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- DO NOT forget your closing tags! -->
</div>
</body>
</html>
