{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="col-md-8 offset-md-2">
    <h2>{{post.title}}</h2>
    <small>
        {{post.created_on.date}} |&nbsp;
        Catorgies: |&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'category' category.name %}">{{category.name}}
        </a>|&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | linebreaks }}</p>

    <!--Comments-->

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Leave a Comment!
       </button>
    <!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
    <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
    <h4 class="modal-title">Enter a Comment: </h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <!-- Modal body -->
    <div class="modal-body">
    <form action="/{{ post.pk }}/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{form.author}}
        </div>
        <div class="form-group">
            {{form.body}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <!-- Modal footer -->
    <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
    </div>
    </div>
   </div>
    
    <h4>Comments: </h4>
    <hr>
    {% for comment in comments %}
    <div class="media border p-3 mt-3">
        <img src="{% static 'img/avatar.png' %}" alt="{{comment.author}}" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h5>{{comment.author}} <small><i>Commented on {{comment.created_on.date}}</i></small></h5>
            <p>{{comment.body}}</p>
        </div>
        <button type="button" class="btn btn-primary">
            <a href="{% url 'Reply' comment.pk %}" style="color:white;">Reply</a>
        </button>
    </div> 
{% endfor %}
    
    
</div>
{% endblock %}
